@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,700&display=swap); // &display=swap быстрее загружает шрифты
@import url(https://fonts.googleapis.com/css?family=Inika:regular,700&display=swap);
:root {
    --green: #499A18;
    --orange: #E06733;
    --light-gray: #717171;
    --dark-gray: #636060;
    --bg-section: #EDF2EC;
    --links-nav: #010201;
}

/* _________GENERAL_SETTINGS_________ */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    box-sizing: inherit;
    scroll-behavior: smooth;
    position: relative;
}
body {
    font-family: 'Inter';
    width: 100%;
    background-color: white;
    position: relative;
    @media (max-width: 650px) {
        &.lock {
            overflow: hidden;
        }    
    }
}
// Все оранжевые кнопки, кроме learn-more
.button {
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--orange);
    cursor: pointer;
    transition: all .5s;
    &.active{
        background: var(--orange);
        color: white;
    }
    &.nonactive {
        transition: all .1s;
        border: var(--dark-gray);
        background: #b9b9b9;
        color: white;
        cursor: default;
    }
    @media (max-width: 381px) {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
    }
}


[class*="__wrapper"] {
    width: 86%;
    position: relative;
    max-width: 1222px;
    margin: 0 auto;
    @media (max-width: 769px) {
        width: 87%;
        max-width: 668px;
    }
    @media (max-width: 381px) {
        width: 87%;
        max-width: 330px;
    }
}



/* _________HEADER_________ */
.header {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 134px;
    top: 0px;
    display: flex;
    align-items: center;
    @media (max-width: 769px) {
        height: 117px;
    }
    @media (max-width: 381px) {
        height: 96px;
    }
}
.burger-bg {
    left: -100%;
    @media (max-width: 650px) {
        background: #272727b0;
        width: 100%;
        height: 100cm;
        position: absolute;
        top: 0;
        z-index: 1;
        overflow: hidden;
        &.active {
            left: 0;
        }
    }
}
.burger-block {
    display: none;
    @media (max-width: 650px) {
        display: block;
        width: 200px;
        height: 300px;
        background: #dfe4de;
        position: absolute;
        top: 30px;
        right: -50%;
        border-radius: 10px;
        &.active {
            right: 5%;
            transition: all .3s;
        }
    }    
}

.burger__nav-list {
    @media (max-width: 650px) {
        padding-top: 40px;
        padding-bottom: 20px;
        height: 100%;
    }
}

.header__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 650px) {
        position: relative;
    }
}
.header__logo-block {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-link {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
}
.header-logo-img {
}
.header-logo-word {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.header__nav-block {
    width: 100%;
    max-width: 452px;
    @media (max-width: 650px) {
        display: none;
    }
}

.header__nav-list {
    @media (max-width: 650px) {
        padding-top: 40px;
        padding-bottom: 20px;
        height: 100%;
    }
}



.menu-icon {
    @media (max-width: 650px) {
        display: block;
        width: 40px;
        height: 24px;
        position: relative;
        z-index: 3;
        cursor: pointer;
        overflow: hidden;

        span {
            position: absolute;
            // top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--dark-gray);
            transition: all .2s;
        }
        .one   {
            top:  0%;
            &.active {top:  calc(0% - 2px);}
        }
        .two   {
            top: 32%;
            &.active {
                top:  calc(50% - 1px);
                transform: rotate(-45deg);
            }
        }
        .three {
            top: 64%;
            &.active {
                top:  calc(50% - 1px);
                transform: rotate(45deg);
            }
        }
        .four  {
            top: calc(100% - 2px);
            &.active {top: 100%;}
        }
    }
}

#home {
    color: var(--orange);
    font-weight: 700;
}
.nav-list-item:hover #home {
    @media (max-width: 650px) {
        color: white;
    }
}


.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    @media (max-width: 650px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        // margin: auto;
    }
}

.nav-list-item {
    @media (max-width: 650px) {
        cursor: pointer;
        width: 100%;
        text-align: center;
    }
}
.nav-list-item:hover {
    @media (max-width: 650px) {
        background: var(--green);
        color: white;
    }
}
.nav-list-item-link {
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;

}

.nav-list-item:hover .nav-list-item-link {
    @media (max-width: 650px) {
        color: white;
    }
}



/* _________WELCOME_________ */
.welcome {
    height: 100%;
    min-height: 666px;
    background: var(--bg-section);
    padding-top: 190px;
    @media (max-width: 769px) {
        min-height: 537px;
        padding-top: 150px;
    }
    @media (max-width: 381px) {
        min-height: 330px;
        padding-top: 110px;
    }
}
.welcome__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 769px) {
        flex-direction: row-reverse;
    }
}
.welcome__img-block {
    width: 100%;
    max-width: 449px;
    height: 100%;
    max-height: 407px;
    overflow: hidden;
    @media (max-width: 769px) {
        width: 100%;
        max-width: 280px;
        height: 100%;
        max-height: 254px;
        align-self: flex-start;
    }
    @media (max-width: 600px) {
        align-self: center;
    }
    @media (max-width: 381px) {
        display: none;
    }
}
.welcome-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome-content-block {
    margin-top: 0px;
    width: 100%;
    max-width: 549px;
    @media (max-width: 769px) {
        max-width: 310px;
    }
    @media (max-width: 769px) {
        max-width: 330px;
    }
}
.welcome-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-top: 40px;
    margin-bottom: 45px;
    @media (max-width: 769px) {
        font-size: 35px;
        margin-top:10px;
        width: 340px;
        margin-bottom: 28px;
    }
    @media (max-width: 381px) {
        font-size: 25px;
        margin-top:10px;
        width: auto;
        line-height: 35px;
        margin-bottom: 23px;
    }
}
.plants-word {
    color: #499A18;
}
.welcome-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    @media (max-width: 769px) {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        // width: 330px;
        margin-left: 5px;
    }
    @media (max-width: 381px) {
        // width: 330px;
        margin-left: 0px;
    }
}
.welcome-btn-learn-more {
    box-sizing: border-box;
    width: 158px;
    height: 44px;
    left: 782px;
    top: 394px;
    border: 2px solid var(--orange);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-top: 48px;
    margin-bottom: 90px;
    background: var(--bg-section);
    cursor: pointer;
    @media (max-width: 769px) {
        margin-top: 35px;
        margin-bottom: 70px;
    }
    @media (max-width: 381px) {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100px;
        height: 34px;
        font-size: 10px;
    }
}
.welcome-btn-learn-more:hover {
    background: var(--orange);
    color: white;
}



/* _________ABOUT_________ */
.about {
    background: #FFFFFF;
    height: 100%;
    min-height: 666px;
    padding-top: 95px;
    @media (max-width: 769px) {
        padding-top: 40px;
        min-height: 783px;
    }
    @media (max-width: 381px) {
        padding-top: 30px;
        min-height: 516px;
    }
}
.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 769px) {
        flex-direction: column;
    }
}
.about-content-block {
    width: 100%;
    max-width: 605px;
    @media (max-width: 769px) {
        max-width: 668px;
    }
}
.about-title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-bottom: 40px;
    @media (max-width: 769px) {
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 50px;
    }
    @media (max-width: 381px) {
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 12px;
    }
}
.pro-words {
    color: var(--orange);
}
.about-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    @media (max-width: 381px) {
        font-size: 15px;
        line-height: 25px;
    }
}
.about-img-block {
    @media (max-width: 769px) {
        width: 100%;
        max-width: 250px;
        height: 100%;
        max-height: 258px;
        overflow: hidden;
        margin-top: 70px;
        margin-bottom: 90px;
    }
    @media (max-width: 381px) {
        width: 100%;
        max-width: 147px;
        height: 100%;
        max-height: 150px;
        overflow: hidden;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* _________SERVICE_________ */
.service {
    width: 100%;
    height: 100%;
    min-height: 1300px;
    background: var(--bg-section);
    padding-top: 40px;
    padding-bottom: 121px;
    @media (max-width: 769px) {
        font-size: 35px;
        line-height: 46px;
        padding-top: 63px;
        padding-bottom: 70px;
    }
    @media (max-width: 381px) {
        font-size: 35px;
        line-height: 46px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.service__title-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // gap: 142px;
    align-items: center;
    margin-bottom: 80px;
    width: 100%;
    max-width: 1007px;
    @media (max-width: 769px) {
        margin-bottom: 40px;
    }
}
.service__title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
    @media (max-width: 769px) {
        font-size: 35px;
        line-height: 46px;
    }
    @media (max-width: 381px) {
        font-size: 25px;
        line-height: 33px;
    }
}
.service__btns-block {
    display: flex;
    gap: 38px;
    width: 100%;
    max-width: 560px;
    @media (max-width: 769px) {
        margin-top: 40px;
    }
    @media (max-width: 381px) {
        margin-top: 37px;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }
}
.service-btn {
    background: var(--bg-section);
}
.service__cards-block {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    max-width: 1222px;
    height: 100%;
    min-height: 955px;

    /* Автоматически уместить как можно больше элементов в строке, не переходя нижнюю границу ширины в 330 пикс. */
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    /* Честно говоря, не поняла разницу между этими строками, работает одинаково */
    // grid-template-columns: repeat(auto-fill, minmax(330px, 1fr) );
    column-gap: 116px;
    row-gap: 55px;
    justify-items: center;
    @media (max-width: 769px) {
        grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
        column-gap: 106px;
        max-width: 670px;
        min-height: 1426px;
        row-gap: 38px;
    }
    @media (max-width: 769px) {
        grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
        column-gap: 106px;
        max-width: 670px;
        min-height: 1426px;
        row-gap: 33px;
    }

}
.service__card-box {
    width: 330px;
    height: 450px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    overflow: hidden;
    transition: all .5s;
    &.blur {
        -webkit-filter: blur(7px); /* Chrome, Safari, Opera */
        filter: blur(7px);
    }
    
    @media (max-width: 769px) {
        width: 281px;
        height: 450px;
    }
}
.card-img-box {
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(80%) saturate(120%);
}
.card-text-box {
    width: 100%;
    height: 100px;
    background: var(--bg-section);
    text-align: center;
    padding: 0px 30px;
    @media (max-width: 769px) {
        padding: 0px 38px;
    }
}
.card-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--orange);
    margin-top: 10px;
    margin-bottom: 13px;
}
.card-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--light-gray);
}



/* _________PRICES_________ */
.prices {
    width: 100%;
    height: 100%;
    min-height: 560px;
    background: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 100px;
    @media (max-width: 769px) {
        padding-bottom: 75px;
    }
    @media (max-width: 381px) {
        padding-top: 26px;
        padding-bottom: 40px;
        min-height: 512px;
    }
}
.prices__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 405px;
    @media (max-width: 600px) {
        align-items: center;
        flex-direction: column;
    }
}
.prices__left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 381px) {
        align-items: center;
    }
}
.prices__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    @media (max-width: 769px) {
        font-size: 35px;
        line-height: 42px;
    }
    @media (max-width: 381px) {
        font-size: 25px;
        line-height: 30px;
    }
}
.prices__title-left {
    @media (max-width: 769px) {
        padding-left: 15px;
    }
    @media (max-width: 381px) {
        padding-left: 0px;
    }
}
.prices__title-right {
    @media (max-width: 769px) {
        font-size: 25px;
        line-height: 35px;
    }
    @media (max-width: 381px) {
        font-size: 20px;
    }
}
.prices__form-block {
    width: 332px;
    // height: 100%;
    min-height: 283px;
    // position: absolute;
    box-sizing: border-box;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-top: 60px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active {
        gap: 0px;
    }
    @media (max-width: 381px) {
        margin-top: 37px;
        width: 224px;
        min-height: 235px;
        gap: 14px;
    }
}
.acc-item-block {
    display: none;
    width: 250px;
    height: 0px;
    &.active {
        display: block;
        height: 104px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: #D6E7D2;
        // transform-origin: left top;
        // transition: all .3s;
        padding: 0px 40px 12px 40px;
    }
    @media (max-width: 381px) {
        width: 180px;
        // height: 104px;
        padding: 0px 40px 12px 30px;
    }
}

hr {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid #AEA1A1;
    margin-bottom: 6px;
}
.acc-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.acc-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    margin: 0px 0px 6px 0px;
}
.acc-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}
.acc-dollar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #E06733;
}
.span-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E06733;
}
.order-btn {
    width: 86px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 0px 6px 0px;
}
.order-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    text-decoration: none;
}
.prices__form-item-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 381px) {
        width: 100%;
        height: auto;
    }
}
.prices__form-btn {
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border: none;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px 16px 40px;
    cursor: pointer;
    // position: relative;
    // transition: all 0.3s;
    &.active {
        border-radius: 20px 20px 0px 0px;
        background: #D6E7D2;
    }
    @media (max-width: 381px) {
        width: 180px;
        height: 50px;
        font-size: 15px;
        padding: 16px 40px 16px 30px;
    }
}

.arrow-block {
    width: 16px;
    height: 16px;
    background: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
        transform: rotate(-180deg);
        background: var(--dark-gray);
    }
}
.arrow {
    width: 3px;
    height: 3px;
    border-top: 1px solid var(--dark-gray);
    border-right: 1px solid var(--dark-gray);
    transform: rotate(135deg);
    &.active {
        border-top: 1px solid white;
        border-right: 1px solid white;
    }
} 
.prices__right-column {
    text-align: right;
    @media (max-width: 769px) {
        padding-top: 100px;
    }
    @media (max-width: 381px) {
        text-align: center;
        padding-top: 20px;
    }
}
.prices__right-column__title-block {
}
.gardeners-word {
    color: #499A18;
}
.prices__btn-contact-us {

}
.contact-us-btn {
    background: white;
    margin-top: 45px;
    margin-bottom: 35px;
    font-weight: 700;
    @media (max-width: 769px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @media (max-width: 381px) {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
.prices__img-block {
    @media (max-width: 381px) {
        display: none;
    }
}
.prices__img {
}



/* _________CONTACTS_________ */
.contacts {
    width: 100%;
    height: 100%;
    min-height: 550px;
    background: var(--bg-section);
    padding-top: 53px;
    padding-bottom: 0px;
    @media (max-width: 769px) {
        padding-top: 33px;
    }
    @media (max-width: 381px) {
        padding-top: 23px;
        min-height: 445px;
    }
}
.contacts__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 112px;
    padding-bottom: 0px;
    height: 100%;
    min-height: 497px;
    @media (max-width: 769px) {
        flex-direction: column-reverse;
        align-items: center;
    }

    @media (max-width: 381px) {
        min-height: 100px;
        gap: 0px;
    }
}
.contacts__img-block {
    padding-bottom: 0px;
    display: flex;
    align-self: flex-end;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 497px;
    overflow: hidden;
    @media (max-width: 769px) {
        width: 100%;
        max-width: 200px;
        height: 100%;
        max-height: 249px;
        overflow: hidden;
        margin-left: 15px;
        align-self: center;
    }
    @media (max-width: 381px) {
        max-width: 100px;
        max-height: 125px;
        margin-left: 0px;
    }
}
.contacts-img {
    margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: 769px) {
        width: 100%;
    }
}
.contacts__right-column {
    padding-top: 5px;
    width: 100%;
    @media (max-width: 769px) {
        text-align: center;
    }
    @media (max-width: 381px) {
        padding-top: 0px;
    }
}
.contacts__title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-bottom: 35px;
    @media (max-width: 381px) {
        font-size: 25px;
        line-height: 33px;
    }
}
.contacts__form-block {
    display: flex;
    justify-content: end;
    @media (max-width: 769px) {
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 140px;
    }
    @media (max-width: 381px) {
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 140px;
    }
}
.contacts__form-btn {
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    cursor: pointer;
    @media (max-width: 381px) {
        width: 300px;
        height: 50px;
    }
}
.contacts__form-btn:hover {
    background: #C1E698;
    box-shadow: none;
    border: 1px solid #D6E7D2;
}
.contacts__form-arrow-block {
    width: 16px;
    height: 16px;
    background: var(--light-gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}



/* _________FOOTER_________ */
.footer {
    width: 100%;
    min-height: 130px;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width: 769px) {
        min-height: 181px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media (max-width: 381px) {
        min-height: 146px;
        padding-top: 5px;
        padding-bottom: 10px;
    }

}
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 769px) {
        flex-direction: column;
    }
}
.footer__left-column {
    display: flex;
    gap: 20px;
    @media (max-width: 769px) {
        height: 40px;
    }
}
.footer__left-column__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.footer__link {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
.footer__middle-column {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-left: 15px;
    @media (max-width: 769px) {
        margin-left: 0px;
        margin-bottom: 15px;
    }
    @media (max-width: 381px) {
        height: 40px;
    }
}
.footer__nav-list {
    display: flex;
    gap: 28px;
}
.footer__nav-list-item {
    list-style-type: none;
}
.footer__link-img {
}
